<%- include('layout/header') %>
  <main>
    <section id="hero" class="pt-120 pb-200">
      <div class="container flex h-space-around">
        <div class="col-5">
          <h1 class="color-white text-bold">
            Test your brain with fun puzzles!
          </h1>
          <a class="button-2 mt-50 colorbg-pink" href="/signup">Create an account for free!</a>
        </div>
        <img class="hero-image" src="/images/hero-image.png" alt="hero-image" />
      </div>
    </section>

    <section id="newsletter" class="colorbg-purple pv-80">
      <div class="container flex h-center d-col v-center">
        <div class="col-7 text-center">
          <h2 class="color-white">Join the brainquiznos newsletter!</h2>
          <p class="color-white title-sub mt-10">Get weekly updates!</p>
        </div>
        <form class="flex mt-50" action="index.html" method="post">
          <input
            class="mr-20 color-black"
            type="email"
            name="email"
            placeholder="Email address"
          />
          <input
            class="button-1 colorbg-pink"
            type="submit"
            value="subscribe"
          />
        </form>
      </div>
    </section>
  </main>
<%- include('layout/footer', {loggedIn}) %>
