<%- include("layout/header") %>
<main>
  <section id="login" class="pv-60 colorbg-purple">
    <div class="container">
      <div class="row">
        <h1>Login</h1>
      </div>
    </div>
  </section>
</main>
<%- include("layout/footer") %>
