<%- include('layout/header') %>
<main>
  <section id="signup-success" class="colorbg-purple pv-60">
    <div class="container">
      <div class="row">
        <h1 class="color-white">Account Created</h1>
      </div>
    </div>
  </section>
</main>
<%- include('layout/footer') %>
