<%- include("layout/header", {loggedIn ,gender, username, life}) %>

<main class="colorbg-purple">
  <section id="stats" class="pv-50 ">
    <div class="container">
        <div class="row flex  mt-30">
          <div class="col-10">

              <h1 class="color-white">Gained Points</h1>
              <div class="mv-10">
                <span class="title-sub color-white">The graph shows the overall points you gained every game.</span>
              </div>

              <canvas id="points-graph" role='graph' data-mode='all' data-yAxis='points'></canvas>

          </div>
        </div>




      </div>
  </section>
</main>
<%- include("layout/footer", {renderGlider:false}) %>
