<%- include("layout/header", {loggedIn ,gender, username, life}) %>

<main class="colorbg-purple">
  <section id="stats" class="pv-50 ">
    <div class="container">
        <div class="row flex  mt-30">
          <div class="col">
            <div class="chart-container">
              <h3 class="color-white">Gained Points</h3>
              <canvas id="points-graph" data-width='1000' data-height="500" role='graph' data-mode='all' data-yAxis='points' ></canvas>
            </div>
          </div>
        </div>




      </div>
  </section>
</main>
<%- include("layout/footer", {renderGlider:false}) %>
