<%- include("layout/header", {loggedIn ,gender, username, life}) %>

<main class="colorbg-purple">
  <section id="stats" class="pv-50 ">
    <div class="container">
        <div class="row flex  mt-30">
          <div class="col">
            <div class="chart-container">
              <h3 class="color-white">Gained Points</h3>
              <canvas id="points-graph" data-width='800' data-height="400" role='graph' data-mode='all' data-yAxis='points' ></canvas>
            </div>
          </div>
        </div>

        <div class="games row flex h-space-between pb-40 mt-50">
          <div class="col">
          <div class="chart-container">
            <h4 class="color-white mb-20">easy mode</h4>
            <canvas id="easy-game-graph" data-width='350' data-height="200" role='graph' data-mode='easy' data-yAxis='points'></canvas>
          </div>
          </div>




          <div class="col">
          <div class="chart-container">
            <h4 class="color-white mb-20">normal mode</h4>
            <canvas id="normal-game-graph" data-width='350' data-height="200" role='graph' data-mode='normal' data-yAxis='points'></canvas>
          </div>
          </div>


          <div class="col">
          <div class="chart-container">
            <h4 class="color-white mb-20">hard mode</h4>
            <canvas id="hard-game-graph" data-width='350' data-height="200" role='graph' data-mode='hard' data-yAxis='points'></canvas>
          </div>
          </div>
        </div>


      </div>
  </section>
</main>
<%- include("layout/footer", {renderGlider:false}) %>
