<%- include("layout/header", {loggedIn ,gender, username, life}) %>

<main class="colorbg-purple">
  <section id="stats" class="pv-30 ">
    <div class="container">
        <div class="row flex  mt-30">
          <div class="col-7">
            <div class="mb-20">


              <a id="button-back"  class="color-white flex" href="/">
              <i class="fas fa-arrow-circle-left"></i>
              </a>
            </div>
              <h1 class="color-white mb-10">Gained Points</h1>
              <div class="mb-30">
                <span class="title-sub color-white">The graph shows the overall points you gained every game.</span>
              </div>

              <canvas id="points-graph" role='graph' data-mode='all' data-yAxis='points'></canvas>

          </div>
        </div>




      </div>
  </section>
</main>
<%- include("layout/footer", {renderGlider:false, replenishDate}) %>
