.form
  width: 100%
  input

    height: 34px
    text-indent: 5px
    font-size: 16px
    color: $black
    border-radius: 5px
    border: none
  input:not([type='radio'])
    width: 100%
  label
    display: block
    font-size: 18px
.err-title
  border-radius: 10px
.err-input
  border: solid 2px $red !important
.err
  color: $red
