.profile
  position: relative
  img
    display: block
    padding: 7px
    height: 40px
    width: 40px
    cursor: pointer
    border-radius: 50%
    background-color: $pink

.profile-menu
  transition: 200ms
  opacity: 0
  pointer-events: none
  text-align: center
  position: absolute
  bottom: -160px
  left: 0
  border-radius: 5px
  width: 150px
  z-index: 99
  padding: 15px 5px
  +background-image("/images/dropdown-bg.png")
  li
    .button-1
      white-space: nowrap
    a
      color: $black

.profile:hover .profile-menu
  opacity: 1
  pointer-events: all
