.color-purple
    color: $purple
.color-white
    color: white
.color-pink
    color: $pink
.color-black
  color: $black


.color-red
  color: $red
.colorbg-dblue
    background-color: $dblue
.colorbg-pink
    background-color: $pink
.colorbg-blue
    background-color: $blue
.colorbg-purple
    background-color: $purple

.colorbg-violet
    background-color: $violet
.colorbg-white
  background-color: white
.colorbg-grey
  background-color: $grey
