<section id="social" class="pt-60 colorbg-violet">
  <div class="container">
    <div class="row flex h-center">
      <div class="col-5 text-center">
        <h2 class="color-white">How many did you solve?</h2>
        <p class="title-sub mt-10 mb-30 color-white">
          Share it and follow us on some of our social media platform.
        </p>
      </div>
    </div>
    <div class="row flex h-center mt-20">
      <div class="col-5">
        <ul class="icons flex h-space-between">
          <li class="colorbg-pink">
            <a class="color-white" href="#"
              ><i class="fab fa-facebook-square"></i
            ></a>
          </li>
          <li class="colorbg-pink">
            <a class="color-white" href="#"
              ><i class="fab fa-twitter-square"></i
            ></a>
          </li>
          <li class="colorbg-pink">
            <a class="color-white" href="#"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
          <li class="colorbg-pink">
            <a class="color-white" href="#"
              ><i class="fab fa-youtube-square"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row flex h-center mv-30">
      <div class="col-10"><div class="divider"></div></div>
    </div>
    <div class="footer row flex h-center pb-40">
      <div class="col-10 flex h-space-between">
        <ul class="flex">
          <li>
            <a class="color-white mr-10" href="#">Terms and conditions</a>
          </li>
          <li><a class="color-white mr-10" href="#">Support</a></li>
          <li><a class="color-white mr-10" href="#">Privacy policy</a></li>
        </ul>

        <span class="color-white">BRAINQUIZNOS &copy; 2019</span>
      </div>
    </div>
  </div>
</section>
<script src="/js/glider.min.js" charset="utf-8"></script>
<script src="/js/interface.js" charset="utf-8"></script>

</body>
</html>
