<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BrainQuiznos</title>
    <link rel="stylesheet" href="/css/glider.min.css" />
    <link rel="stylesheet" href="/css/master.css" />


    <script
      src="https://kit.fontawesome.com/13a1217e2a.js"
      crossorigin="anonymous"
    ></script>
    <script src = "https://d3js.org/d3.v4.min.js"></script>
  </head>

  <body>

    <header class="colorbg-dblue pv-10">
      <div class="container flex h-space-between v-center">
        <a href="/" class="brand-logo color-white text-bold text-clear"
          >Brain<span class="color-pink">Quiznos</span></a
        >

        <ul class="flex v-center">

          <% if (user) { %>
          <li class="profile">
            <img src="/images/<%= gender %>.png" alt='profile'>
            <ul class="profile-menu">
              <li class="mt-10"><%= username %></li>
              <li class="mt-20"><a href="/leaderboard">Leaderboard</a></li>
              <li class="mt-10"><a href="/stats">Stats</a></li>


              <li class="mt-20"><a class="button-1 colorbg-pink" href="/user/logout">log out</a></li>
            </ul>
          </li>






          <% }else{ %>
            <li><a class="color-white text-up" href="/login">login</a></li>
            <li class="ml-20">
              <a class="button-1 colorbg-pink" href="/signup">signup</a>
            </li>
          <% }%>
        </ul>
      </div>
    </header>
