#hero

  +background-image("../images/hero-bg.jpg")

#newsletter
  input
    font-size: 18px

  input[type="email"]
    width: 400px
    border-radius: 15px
    border: none
    text-indent: 10px
  input:focus, textarea:focus, select:focus
    outline: none
